@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }

/**/
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
body {
	background:#fff;
	font-size:12px;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	/*-webkit-overflow-scrolling: touch;*/
	/*font-family: 'Poppins', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */
#wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;}

.header-div { margin: 0; padding: 0; position: relative;}

.header-div .header-top-div { margin: 0; padding: 10px 0; position: relative; border-bottom: 1px solid #000;}
.header-div .header-top-div .top-phone-div { margin: 0; padding: 0; align-self:flex-start;  -webkit-flex: 1; /* Safari 6.1+ */   -ms-flex: 1; /* IE 10 */    flex: 1;}
.header-div .header-top-div .top-phone-div a{ color:#000; font-size: 16px; font-weight: 600}
.header-div .header-top-div .top-phone-div i { margin-right: 5px;}
.header-div .header-top-div .top-social-div { margin: 0; padding: 0; text-align: right; align-self:flex-end; justify-content: flex-end;  -webkit-flex: 1; /* Safari 6.1+ */    -ms-flex: 1; /* IE 10 */    flex: 1;}
.header-div .header-top-div .top-social-div a { margin: 0 0 0 20px; padding: 0; color:#000; font-size: 16px; font-weight: 600; display: inline-block;}
.header-div .header-top-div  a:hover { color:#1b335b;}

.header-nav-logo-div { margin: 0; padding: 10px 0; position: relative;}
.header-nav-logo-div .logo-div{ margin: 0; padding: 0; align-self:flex-start;  -webkit-flex: 1; /* Safari 6.1+ */   -ms-flex: 1; /* IE 10 */    flex: 1; width: 160px;}
.header-nav-logo-div .nav-div{ margin: 0; padding: 0; align-self:flex-start;  -webkit-flex: 5; /* Safari 6.1+ */   -ms-flex: 5; /* IE 10 */    flex: 5;}
.header-nav-logo-div .nav-div ul { margin: 60px 0 0 40px; padding: 0;}
.header-nav-logo-div .nav-div ul li { margin: 0 0px; padding: 0;}
.header-nav-logo-div .nav-div ul li a{ margin: 0; padding: 20px; color:#000; font-size: 18px; font-weight: 600;text-transform: uppercase;}
.header-nav-logo-div .nav-div ul li a:hover { background:#1b335b; color:#fff;}
.header-nav-logo-div .nav-div ul li a.active, .header-nav-logo-div .nav-div ul li a.active:hover { background:#1b335b; color:#fff;}

.banner-div { margin:0; padding:0; position:relative;}
.banner-div .carousel-caption{ margin:0; padding:0; bottom:35%;}
.banner-div .carousel-caption h5{ margin:0 0 100px 0; padding:0 300px; color:#fff; font-size:40px; text-align:center; text-transform:uppercase;}
.banner-div .carousel-caption  p a { margin:0; padding:10px 40px; border:1px solid #fff; color:#fff; font-size:35px; font-weight:600; text-transform:uppercase; text-align:center;}
.banner-div .carousel-caption  p a:hover { background:#fff; color:#1b335b;}

.middle-container{ margin:60px 0 0 0; padding:0; position:relative;}

.intro-about-section{ margin:0 0 100px 0; padding:0; position:relative;}
.intro-about-section .intro-about-div{ margin:0; padding:0;}
.intro-about-section .intro-about-div p{ margin:0 0 20px 0; padding:0; color:#000; font-size:17px; text-transform:uppercase; line-height:28px;}

.find-puppies-section{ margin:0 0 100px 0; padding:0; position:relative;}
.find-puppies-section .find-puppies-div{ margin:0; padding:0;}

.find-puppies-section .find-puppies-div .find-puppies-blk{ margin:0 0 20px 0; padding:0;width:100%;position:relative;}
.find-puppies-section .find-puppies-div .find-puppies-blk:hover { box-shadow: 0 0 10px 0 #c7cfdd;}
.find-puppies-section .find-puppies-div .find-puppies-blk .img{ margin:0; padding:0; position:relative;}
.find-puppies-section .find-puppies-div .find-puppies-blk .img img{ width:100%;}
.find-puppies-section .find-puppies-div .find-puppies-blk .overlay{ margin:0; padding:0; background:rgba(255,255,255,0.4); position:absolute; width:100%; bottom:0;}
.find-puppies-section .find-puppies-div .find-puppies-blk .overlay span {margin:0; padding:10px 0px; color:#000; font-size:20px; font-weight:600; display:block; text-align:center; text-transform:uppercase; font-family: 'Poppins', sans-serif;}
.find-puppies-section .find-puppies-div .find-puppies-blk:hover .overlay {background:rgba(27,51,91,0.7);}
.find-puppies-section .find-puppies-div .find-puppies-blk:hover .overlay span { color:#fff;}

.contact-section { margin:0 0 100px 0; padding:100px 0; position:relative; background:url(../images/contact-bg.jpg) no-repeat; background-size:cover;}
.contact-section .contact-div{ margin:0; padding:0;}
.contact-section .contact-div .contact-txt-blk{ margin:0; padding:0;}
.contact-section .contact-div .contact-txt-blk p{ margin:0; padding:0; color:#fff; font-size:40px; font-weight:600;font-family: 'Poppins', sans-serif;}
.contact-section .contact-div .contact-form-div{ margin:0; padding:0;}
.contact-section .contact-div .contact-form-div .form-group{ margin:0 0 15px 0; padding:0;}
.contact-section .contact-div .contact-form-div .form-control{ margin:0; padding:10px; border:1px solid #fff;color:#fff; font-size:20px; text-transform:uppercase; background:transparent; border-radius:0;}
.contact-section .contact-div .contact-form-div .white-sbtn{ margin:0; padding:10px 40px; color:#fff; font-size:20px; font-weight:600; border:1px solid #fff; display:inline-block; text-transform:uppercase;  background:transparent; cursor:pointer;}
.contact-section .contact-div .contact-form-div .white-sbtn:hover { background:#fff; color:#000;}

.contact-section .contact-div .contact-form-div .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.contact-section .contact-div .contact-form-div .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.contact-section .contact-div .contact-form-div .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.contact-section .contact-div .contact-form-div .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.footer-div { margin:-8px 0 0 0; padding:50px 0 0 0; position:relative; background:#cdc7bb;}
.footer-div .footer-link-div{ margin:0; padding:0;}
.footer-div .footer-link-div h3{ margin:0 0 10px 0; padding:0;color:#000; font-size:20px; font-weight:600; text-transform:uppercase; font-family: 'Poppins', sans-serif;}
.footer-div .footer-link-div p{ margin:0; padding:0; color:#000; font-size:16px; line-height:24px;text-transform:uppercase;}
.footer-div .footer-link-div .footer-ul{ margin:0; padding:0;}
.footer-div .footer-link-div .footer-ul li{ margin:0; padding:0;}
.footer-div .footer-link-div .footer-ul li a{ margin:0; padding:0;color:#000; font-size:16px; line-height:24px; text-transform:uppercase;}
.footer-div .footer-link-div .footer-ul li a:hover{ color:#0b3c84;}
.footer-social-div a { margin: 0 20px 0 0px; padding: 0; color:#000; font-size: 24px; font-weight: 600; display: inline-block;}
.footer-social-div  a:hover { color:#0b3c84;}

.footer-photos-ul { margin:0; padding:0; position:relative; }
.footer-photos-ul li { margin:0; padding:0; float:left; width:33.333666%; background:#222; }
.footer-photos-ul li a{ margin:0; padding:0;}
.footer-photos-ul li a:hover img{ opacity:0.8;}
.footer-photos-ul li img{ width:100%;}
.copyright-div {margin:30px 0 0 0;padding:10px 0 0 0; color:#000; font-size:16px; text-align:center; border-top:1px solid #000;}
.copyright-div p{ margin:0;padding:10px 0; color:#000; font-size:16px; text-align:center; text-transform:uppercase; font-weight:600; font-family: 'Poppins', sans-serif;}


.white-txt { color:#fff!important;}
.blk-title { margin:0 0 10px 0; padding:0; color:#000; font-size:40px; font-weight:600; text-transform:uppercase; font-family: 'Poppins', sans-serif;}
.title-bdr { background:url(../images/title-bdr.png) no-repeat center center; height:1px; width:100%; position:relative; margin:0 0 60px 0;}
.title-white-bdr{ background:url(../images/title-white-bdr.png) no-repeat center center; height:1px; width:100%; position:relative; margin:0 0 60px 0;}
.readmore-link { margin:0; padding:10px 40px; color:#000; font-size:20px; font-weight:600; border:1px solid #000; display:inline-block; text-transform:uppercase;}
.readmore-link:hover { background:#000; color:#fff;}
.mt20 { margin-top:20px;}
.nav-div .closebtn { display:none;}
.title-blk{ margin:0 0 10px 0; padding:0; color:#000; font-size:32px; font-weight:600; text-transform:uppercase; font-family: 'Poppins', sans-serif;}

/* Inner pages start */

.inside-banner-div { margin:0; padding:0; position:relative;}
.inside-banner-div .inside-banner-blk { margin:0; padding:100px 0; position:relative; background:url(../images/puppies-bg.jpg) no-repeat center 100px fixed; background-size:cover;}
.page-title { margin:0; padding:0; color:#fff; font-size:32px; font-weight:600; text-transform:uppercase; text-align:center;}

.span-call-txt { margin: 0 0 0 10px; display: inline-block; }
.span-call-txt a{ color:#1b335b;}
.span-call-txt a:hover{ color:#000; text-decoration: underline;}

.about-action-section { margin: 0; padding:0; position: relative;}
.about-action-section .about-action-div{ margin: 0; padding:100px 0; position: relative; background: #1b335b;}
.about-action-section .about-action-div .features .big-icon{ margin: 0; padding:0;}
.about-action-section .about-action-div .features h5{ margin: 0 0 10px 0; padding:0; color:#fff; font-size: 24px;}
.about-action-section .about-action-div .features p{ margin: 0; padding:0; color:#fff; font-size: 14px;}

.our-team-section { margin: 100px 0; padding:0; position: relative;}
.our-team-section .our-team-div { margin: 0; padding:0;}
.our-team-section .our-team-div .team-blk{ margin: 0; padding:0;}
.our-team-section .our-team-div .team-blk .img{ margin: 0 0 10px 0; padding:0; background: #1b335b;}
.our-team-section .our-team-div .team-blk:hover .img img{ opacity: 0.5;}
.our-team-section .our-team-div .team-blk .img img{ width: 100%;}
.our-team-section .our-team-div .team-blk h3{ margin: 0; padding: 0; color:#222; font-size: 18px; text-align: center;}

.thumb-img-1{ padding: 10px;margin: 0;position: relative;height: 100px;text-align: left;display: flex; }
.thumb-img-1 img{ width: 50px; }

/* End of about us */

/* service */

.choose-section { margin: 0; padding:0; position: relative;}
.choose-section .choose-div {   margin: 0;padding: 50px 0 100px 0;position: relative;background: #f9f9f9; }
.choose-section .choose-div .features .big-icon{ margin: 0; padding:0;}
.choose-section .choose-div .features h5{ margin: 0 0 10px 0; padding:0; color:#000; font-size: 24px;}
.choose-section .choose-div .features p{ margin: 0; padding:0; color:#000; font-size: 14px;}

.heading-top{ margin: 0; padding:0; position: relative;display: block;width: 100%;}
.heading-top .h2-title{ color: #000; }

.card-left { margin: 0; padding:0; position: relative;}
.card-left h3{ color: #222; }
.intro-about-section .intro-about-div .card-left p { margin: 0;padding: 15px 0;color: #222;font-size: 16px;text-transform: none;line-height: 24px;letter-spacing: 0.3px;}
.card-left .p-title1 { font-weight: 600!important;padding: 0!important; }

.custom-ul1{ padding: 10px 0;margin: 0;list-style: disc; }
.custom-ul1 li{ padding: 5px 0;margin: 0; margin-left: 20px;	}

.service-01 { padding: 0;margin: 100px 0 100px 0!important; }
.service-01 .img-left-div{ display: block;width: 100%;text-align: center; }
.service-01 .service-3{ width: 400px;text-align: center;}



/* End of service */

/* gallery */

.gallery-section{ padding: 0;margin: 0;position: relative; }
.gallery-div{ padding: 50px 0 100px 0;margin: 0;position: relative; }

.team-blk-gallery{ padding: 0;margin: 0 0 30px 0;position: relative; }
.team-blk-gallery .link-popup{ padding: 0;margin: 0; }
.team-blk-gallery .img-div{ padding: 0;margin: 0;}
.team-blk-gallery .img-gallery { display: block;width: 100%;height: auto;}

.team-blk-gallery .overlay-div { position: absolute;top: 0;height: 100%;width: 100%;display: flex;justify-content: center;align-items: center;text-align: center;opacity: 0;transition: .5s ease;background-color: rgba(0, 0, 0, 0.6);}
.team-blk-gallery:hover .overlay-div{ opacity: 1;}
.team-blk-gallery .text-box { color: white;font-size: 20px; }
.team-blk-gallery .img-icon{ width: 100px; }

.gallery-modal{ padding: 0;margin: 0;position: relative; }
.gallery-modal .cancel-btn{position: absolute;top: -50px;right: -50px;padding: 10px;color: #fff;font-size: 32px!important;opacity: 1;outline: none!important;}
.gallery-modal .close:not(:disabled):not(.disabled):focus,.gallery-modal .close:not(:disabled):not(.disabled):hover { color: #fff!important;}
.gallery-modal .cancel-btn:hover{color: #fff;}
.gallery-modal .modal-body { padding: 0!important; }
.gallery-modal img.img-fluid.img-gallery { width: 100%; }
.gallery-modal .img-team{ width: 100%; }

/** End of gallery  */

.mb-30{ margin-bottom: 30px!important; }

.center-600{ width: 600px;margin: 0 auto;padding: 30px 0; }
.center-600 .black-send { border: 1px solid #000;background: #000;padding: 7px 20px 5px 20px;text-transform: uppercase;float: right;letter-spacing: 0.5px;color: #fff; }
.center-600 .black-send:hover { border: 1px solid #000;background: #fff;color: #000; }
.center-600 textarea.form-control { height: 120px;resize: none; }
.center-600 .form-control { border-radius: 0px; }

/* Inner pages end */


/* category shop */

/* Shop start */


.shop-section { margin: 0 0 100px 0; padding: 0;}
.sidebar-shop { margin:0; padding:0; position:relative;}
.blk-title{ margin:0 0 40px 0; padding:0; color:#222; font-size:20px; text-transform:uppercase; font-weight:700; position:relative; letter-spacing:1px;}
/*.blk-title:after { content:""; background:#222; height:3px; width:30%; position:absolute; bottom:-10px; left:0;}*/

.product-categories {margin:0; padding:0; position:relative;}
.product-categories li { float: left; list-style: none;  margin: 0;   width: 100%;   position: relative;   border-bottom: 1px solid rgba(0,0,0,0.07);}
.product-categories li:last { border-bottom:0;}
.product-categories li a {display: inline-block; color: #656565;padding: 10px 0; font-size:13px; text-transform: capitalize;}
.product-categories li a::before { display: inline-block;  content: "\f105";   font-family: FontAwesome;    margin-right: 10px;    font-size: 1.1429em;    line-height: 1;    margin-left: 1px;    color: #333;}
.product-categories li a:hover { color:#000;}

.shop-products { position:relative; margin:0 15px 20px 15px; padding:0 0 10px 0; border-bottom:1px solid #ddd;}
.shop-products:last-child { border-bottom:0px solid #ddd;}
.shop-products .toolbar { margin:0 0px 40px 0px; padding:0; position:relative; width:100%; }
.shop-products .toolbar-inner { margin:0; padding:0; position:relative; font-size: 12px;}
.shop-products .result-count{ margin:0; padding:5px 0 0 0; position:relative; display:inline-block;}
.shop-products .ordering{ margin:0; padding:0; position:relative; display:inline-block; float:right; text-align:right;}
.shop-products .product-listing { margin:0 -15px;}

.shop-products .product-wrapper{ margin:0 0 20px 0; padding:0; position:relative;}
.shop-products .product-wrapper:hover { box-shadow:0px 0px 5px #ddd;}
.shop-products .product-wrapper .product-image{ margin:0 0 5px 0; padding:0; position:relative;}
.shop-products .product-wrapper .product-image img { width:100%; transition: all .3s ease; height:auto; max-width:100%;}
.shop-products .product-wrapper .product-dtl{ margin:0; padding:0; font-weight:normal;}
.shop-products .product-wrapper .product-name{ margin:0 0 0px 0; padding:10px; color:#222; font-size:13px;}
.shop-products .product-wrapper a { color:#222;}
.shop-products .product-wrapper .price-txt{ margin:0; padding:10px; color:#767676;font-size:13px;}
.shop-products .product-wrapper .shop-btn { margin: 10px 0; padding: 0;}
.shop-products .product-wrapper .shop-btn .reservebtn{ margin: 10px 0; padding: 10px 0; background: #1b335b; color:#fff; font-size: 14px; text-transform: uppercase; width: 100%; display: block; border: 0; cursor: pointer;}
.shop-products .product-wrapper .shop-btn .reservebtn:hover { background: #021a43;}

.pagination-div{ padding: 20px 0 0 0;margin: 0 0 30px 0;float: right;background-color: #fff;width: 100%;display: block; }
.pagination-div ul{padding: 0; margin: 0;}
.pagination-div .pagination>li>a,.pagination-div .pagination>li>span{ position: relative;float: left;padding: 10px 20px;margin-left: -1px;line-height: 1.42857143;color: #000;text-decoration: none;background-color: #afd200;border: 1px solid #ddd;}
.pagination-div .pagination>li>a,.pagination-div .pagination>li:hover>span{background-color: #fff;border: 1px solid #ddd;}
.pagination-div .pagination>.active>span{ color: #fff;background-color: #000;border: 1px solid #000; }
.pagination-div .pagination>li:first-child>a,.pagination-div .pagination>li:first-child>span { border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
.pagination-div .pagination>li:last-child>a,.pagination-div .pagination>li:last-child>span{ border-top-right-radius: 0px;border-bottom-right-radius: 0px; }
.pagination-div .pagination>li>a:hover { background:#f9f9f9;}

/* End of category shop */



@media only screen and (max-width: 767px){
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.container { width:100% !important;}
	.canvas { margin:0!important; padding:0!important;}

	.header-div .header-top-div{ padding:10px;}
	.header-nav-logo-div{ padding:10px;}
	.header-nav-logo-div .logo-div img { width:100px;}

	.header-nav-logo-div .nav-div ul { margin:100px 0 0 0;}
	.header-nav-logo-div .nav-div ul li { width:100%; margin:20px;}
	.header-nav-logo-div .nav-div ul li a{ width:100%; color:#fff;}
	.header-nav-logo-div .nav-div ul li a:hover { color:#ffdb6c;}

	.contact-section .contact-div .contact-txt-blk p { font-size:24px;}
	.contact-section .contact-div .contact-form-div { margin-top:20px;}
	.footer-div .footer-link-div { margin-bottom:40px;}


	/* mobile navigation start */
	.nav-div .closebtn { display:block;}
.nav-m-bar { position: absolute; top: 40px; right: 20px;}
.nav-m-bar .menu-bars{ background:url(../images/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color:transparent!important;}
 /* The side navigation menu */
.nav-div {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #1b335b; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.nav-div .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px; color:#fff; font-size:44px; font-weight:300;
}
.nav-div .closebtn:hover { color:#fdb413;}
#wrapper {    transition: margin-left .5s;}

	/* Changes */

	.gallery-modal .cancel-btn { right: 0px!important;}
	.our-team-section .our-team-div .team-blk h3 { padding: 10px 0 20px 0; }
	.about-action-section .about-action-div { padding: 30px 0 60px 0; }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {



}
@media only screen and (min-width: 480px) and (max-width: 640px) {

}
/*
@media only screen and (min-width: 640px){
	.header-section .logodiv img { max-width:28%; }
}*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.container { width:100% !important;}
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}

	.header-nav-logo-div .logo-div img { width:100px;}

	.header-nav-logo-div .nav-div ul { margin:100px 0 0 0;}
	.header-nav-logo-div .nav-div ul li { width:100%; margin:20px;}
	.header-nav-logo-div .nav-div ul li a{ width:100%; color:#fff;}
	.header-nav-logo-div .nav-div ul li a:hover { color:#ffdb6c;}

	.contact-section .contact-div .contact-txt-blk p { font-size:24px;}

	.banner-div .carousel-caption h5 { padding:0 100px; font-size:24px;}
	.banner-div .carousel-caption { bottom:20%;}


	/* mobile navigation start */
	.nav-div .closebtn { display:block;}
.nav-m-bar { position: absolute; top: 30px; right: 20px;}
.nav-m-bar .menu-bars{ background:url(../images/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color:transparent!important;}
 /* The side navigation menu */
.nav-div {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #1b335b; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.nav-div .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px; color:#fff; font-size:44px; font-weight:300;
}
.nav-div .closebtn:hover { color:#fdb413;}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#wrapper {
    transition: margin-left .5s;
}


}


/* SVG Supports */
.attachment img[src$=".svg"],.widget_media_image img[src$=".svg"]{width:100%}.attachment img[src$=".svg"],.widget_media_image img[src$=".svg"]{width:100%}.attachment svg,.widget_media_image svg{max-width:100%;height:auto}




/* The Modal (background) */
.modal-photo-gallery {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-photo-gallery .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.modal-photo-gallery .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.modal-photo-gallery .close:hover,
.modal-photo-gallery .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.modal-photo-gallery .mySlides {
  display: none;
}

/* Next & previous buttons */
.modal-photo-gallery .prev,
.modal-photo-gallery .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.modal-photo-gallery .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.modal-photo-gallery .prev:hover,
.modal-photo-gallery .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.modal-photo-gallery .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.modal-photo-gallery .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.modal-photo-gallery img.demo {
  opacity: 0.6;
}

.modal-photo-gallery .active,
.modal-photo-gallery .demo:hover {
  opacity: 1;
}

.modal-photo-gallery img.hover-shadow {
  transition: 0.3s;
}

.modal-photo-gallery .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Dev CSS */

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    display: none !important;
}

div.wpcf7-mail-sent-ok {
    border: none;
    color: white;
}
.center-600 .white-sbtn {
    border: 1px solid #000;
    background: #000;
    padding: 7px 20px 5px 20px;
    text-transform: uppercase;
    float: right;
    letter-spacing: 0.5px;
    color: #fff;
}

.center-600 .white-sbtn:hover {
    border: 1px solid #000;
    background: #fff;
    color: #000;
}

.map-div
{
	height: 450px;
}